<!DOCTYPE html>
<html>
  <head>
    <title>BnB</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyB0cgyzG8DjgEGQcjWk1pwQw2Wjj8XcwYI"></script>

    <%= stylesheet_link_tag 'application', media: 'all' %> <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application' %>
  </head>
    <script type="text/javascript">
      window.logo ="<%= image_url("bikelogo.jpg")%>";
      window.track1 ="<%= image_url("track-pic.jpg")%>";
      window.splashvid ="<%= image_url("video1.gif")%>";
      window.offroad ="<%= image_url("dirtbike1.jpeg")%>";
      window.sport ="<%= image_url("sportbike.jpeg")%>";
      window.street ="<%= image_url("streetbike.jpg")%>";
      window.touring ="<%= image_url("touringbike.jpg")%>";
      window.dirt ="<%= image_url("dirtbike.jpg")%>";
      window.group ="<%= image_url("groupbike.jpeg")%>";
      window.learn ="<%= image_url("learn.jpg")%>";
      window.stunt ="<%= image_url("stunt1.jpeg")%>";
      window.adv ="<%= image_url("adv.png")%>";
      window.dirt ="<%= image_url("dirt.jpeg")%>";
      window.street ="<%= image_url("street.png")%>";
      window.sportb ="<%= image_url("sport.png")%>";
   </script>
  <body>
    <%= yield %>
  </body>
</html>
